* { 
    margin: 0;
    padding: 0;
}
.title {
    display: flex;
    background-color:#0eb3c4;
    height: 5vh;
}

.title h1 {
    display: flex;
    margin-left: 50px;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25vh;
}

label {
    font-size: 30px;
}
input {
    width: 20vw;
    height: 3vh;
    font-size: 20px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}